## General - Exploratory Data Analysis 0

## Dataset and Environment Setup

### Earthquakes dataset

We will be working with [global earthquake data](https://earthquake.usgs.gov/earthquakes/feed/v1.0/csv.php) taken from USGS Earthquake Data (All Earthquakes, Past Month), source: U.S. Geological Survey (USGS), which contains information about global earthquakes for the past 30 days, from the date accessed of October 23, 2025.

In [1]:
import pandas as pd
import altair as alt
import numpy as np

In [3]:
earthquakes = pd.read_csv('../data/processed/ordinal_data.csv')

In [4]:
earthquakes.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,mag_ordinal,depth_ordinal,gap_level
0,2025-10-23T22:11:40.587Z,32.274000,-101.931000,4.2122,1.40,ml,40.0,40.0,0.000000,0.50,...,0.00,0.813793,0.20,25.0,automatic,tx,tx,Minor (<4.0),Shallow (0-70 km),high
1,2025-10-23T22:09:24.260Z,38.806835,-122.751999,-0.6400,1.27,md,13.0,110.0,0.023310,0.04,...,0.25,0.730000,0.21,13.0,automatic,nc,nc,Minor (<4.0),Negative (<0 km),moderate-low
2,2025-10-23T22:08:01.540Z,38.807835,-122.751167,0.1900,1.24,md,12.0,112.0,0.023690,0.02,...,0.23,1.030000,0.21,12.0,automatic,nc,nc,Minor (<4.0),Shallow (0-70 km),moderate-low
3,2025-10-23T22:07:48.630Z,38.834332,-122.796333,2.2500,0.23,md,10.0,76.0,0.006201,0.02,...,0.57,0.460000,0.11,10.0,automatic,nc,nc,Minor (<4.0),Shallow (0-70 km),moderate-high
4,2025-10-23T22:01:31.590Z,38.808998,-122.811668,3.6600,0.74,md,10.0,83.0,0.012830,0.02,...,0.40,1.180000,0.07,10.0,automatic,nc,nc,Minor (<4.0),Shallow (0-70 km),moderate-high

In [5]:
earthquakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6281 entries, 0 to 6280
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             6281 non-null   object
 1   latitude         6281 non-null   float64
 2   longitude        6281 non-null   float64
 3   depth            6281 non-null   float64
 4   mag              6281 non-null   float64
 5   magType          6281 non-null   object
 6   nst              6281 non-null   float64
 7   gap              6281 non-null   float64
 8   dmin             6281 non-null   float64
 9   rms              6281 non-null   float64
 10  net              6281 non-null   object
 11  id               6281 non-null   object
 12  updated          6281 non-null   object
 13  place            6281 non-null   object
 14  type             6281 non-null   object
 15  horizontalError  6281 non-null   float64
 16  depthError       6281 non-null   float64
 17  magError         6281 non-null   float64
 18  magNst           6281 non-null   float64
 19  status           6281 non-null   object
 20  locationSource   6281 non-null   object
 21  magSource        6281 non-null   object
 22  mag_ordinal      6281 non-null   object
 23  depth_ordinal    6281 non-null   object
 24  gap_level        6281 non-null   object
dtypes: float64(12), object(13)
memory usage: 1.2+ MB

#### Viewing summary statistics for quantitative columns

In [6]:
earthquakes.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,6281.000000,6281.000000,6281.000000,6281.000000,6281.000000,6281.000000,6281.000000,6281.000000,6281.000000,6281.000000,6281.000000,6281.000000
mean,35.400717,-95.004115,16.826674,1.613285,25.230059,103.606591,0.445949,0.226609,1.722102,2.579109,0.164137,21.754498
std,16.868010,77.723609,53.227923,1.415182,23.649614,61.212456,1.500235,0.261649,3.087129,5.467239,0.092823,37.451734
min,-60.359400,-179.972300,-3.180000,-1.440000,0.000000,12.000000,0.000000,0.000000,0.000000,0.120000,0.000000,1.000000
25%,32.115000,-122.787170,2.980000,0.760000,10.000000,61.000000,0.015230,0.080000,0.280000,0.520000,0.100000,7.000000
50%,36.511333,-116.947167,6.990000,1.270000,18.000000,85.000000,0.057160,0.150000,0.480000,0.850000,0.150000,12.000000
75%,44.571500,-102.160000,10.240000,1.960000,33.000000,130.000000,0.121400,0.210000,1.012044,1.891000,0.200000,24.000000
max,85.064300,179.935500,643.060000,7.600000,401.000000,345.000000,41.153000,1.570000,21.340000,42.400000,1.170000,756.000000

In [11]:
unique = earthquakes['type'].unique()
countunique = earthquakes['type'].value_counts()
percent = earthquakes['type'].value_counts(normalize=True) * 100

print(f"Event types = {unique}")
print(f"Count of event types = {countunique}")
print(f"Percentage of event types = {percent}")

Event types = ['earthquake' 'quarry blast' 'explosion']
Count of event types = type
earthquake      6143
explosion         72
quarry blast      66
Name: count, dtype: int64
Percentage of event types = type
earthquake      97.802898
explosion        1.146314
quarry blast     1.050788
Name: proportion, dtype: float64

In [12]:
earthquakes.nunique()

time               6281
latitude           5074
longitude          5265
depth              3330
mag                 492
magType               7
nst                 146
gap                 319
dmin               4440
rms                 159
net                  12
id                 6281
updated            6281
place              3334
type                  3
horizontalError    1885
depthError         2415
magError           2165
magNst              208
status                2
locationSource       12
magSource            12
mag_ordinal           5
depth_ordinal         4
gap_level             4
dtype: int64